Source: ros-jade-stdr-gui
Section: misc
Priority: extra
Maintainer: Chris Zalidis <zalidis@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libqt4-dev, ros-jade-catkin, ros-jade-nav-msgs, ros-jade-roscpp, ros-jade-roslib, ros-jade-sensor-msgs, ros-jade-stdr-msgs, ros-jade-stdr-parser, ros-jade-stdr-robot, ros-jade-stdr-server, ros-jade-tf
Homepage: http://stdr-simulator-ros-pkg.github.io
Standards-Version: 3.9.2

Package: ros-jade-stdr-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-dbus, libqt4-network, libqt4-script, libqt4-test, libqt4-xml, libqtcore4, ros-jade-nav-msgs, ros-jade-roscpp, ros-jade-roslib, ros-jade-sensor-msgs, ros-jade-stdr-msgs, ros-jade-stdr-parser, ros-jade-stdr-robot, ros-jade-stdr-server, ros-jade-tf
Description: A gui in Qt for visualizing purposes in STDR Simulator.
