Source: ros-jade-stdr-robot
Section: misc
Priority: extra
Maintainer: Chris Zalidis <zalidis@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-actionlib, ros-jade-catkin, ros-jade-geometry-msgs, ros-jade-nav-msgs, ros-jade-nodelet, ros-jade-roscpp, ros-jade-sensor-msgs, ros-jade-stdr-msgs, ros-jade-stdr-parser, ros-jade-tf
Homepage: http://stdr-simulator-ros-pkg.github.io
Standards-Version: 3.9.2

Package: ros-jade-stdr-robot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-actionlib, ros-jade-geometry-msgs, ros-jade-nav-msgs, ros-jade-nodelet, ros-jade-roscpp, ros-jade-sensor-msgs, ros-jade-stdr-msgs, ros-jade-stdr-parser, ros-jade-stdr-server, ros-jade-tf
Description: Provides robot, sensor implementation, using nodelets for stdr_server to load them.
