Source: ros-kinetic-stdr-parser
Section: misc
Priority: extra
Maintainer: Chris Zalidis <zalidis@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libtinyxml-dev, libyaml-cpp-dev, ros-kinetic-catkin, ros-kinetic-cmake-modules, ros-kinetic-roscpp, ros-kinetic-roslib, ros-kinetic-stdr-msgs
Homepage: http://stdr-simulator-ros-pkg.github.io
Standards-Version: 3.9.2

Package: ros-kinetic-stdr-parser
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libtinyxml-dev, libyaml-cpp-dev, ros-kinetic-roscpp, ros-kinetic-roslib, ros-kinetic-stdr-msgs
Description: Provides a library to STDR Simulator, to parse yaml and xml description files.
